<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="frontend_customform_post_listing_data_source" xsi:type="string">Frontend\CustomForm\Model\ResourceModel\CustomForm\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Frontend\CustomForm\Model\ResourceModel\CustomForm\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">customform</argument>
            <argument name="resourceModel" xsi:type="string">Frontend\CustomForm\Model\ResourceModel\CustomForm</argument>
        </arguments>
    </virtualType>
</config>